* {
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
    margin-bottom: 20px;
}

.hero.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    margin-bottom: 0;
}

.viewer-container {
    max-width: 1440px;
    height: 500px;
    cursor: move;
}

.hero.fullscreen .viewer-container {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.viewer-container.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hero.fullscreen .controls {
    position: fixed;
    left: 20px;
    z-index: 10;
    transform: translateX(0);
}

.controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.other-container {
    position: relative;
}

.other-container img {
    width: 100%;
}
